<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="/public/css/index.css" />
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <header>
      <h1>프로젝트명</h1>
    <main>
      <h1>Index Page</h1>
      <p>Welcome to the index page</p>

      <table>
        <thead>
          <tr>
            <th>카테고리</th>
            <th>링크</th>
            <th>완료 여부</th>
          </tr>
        </thead>
        <tbody id="user-table"></tbody>
      </table>
    </main>
  </body>

  <script>
    fetch("/routes/user.json") // JSON 파일 경로
      .then((response) => response.json())
      .then((users) => {
        const tableBody = document.getElementById("user-table");
        users.forEach((user) => {
          const row = document.createElement("tr");
          row.setAttribute("id", `user-${user.id}`);
          row.innerHTML = `
            <td class="td-category">${user.category}</td>
            <td class="td-link"><a href="${user.link}">${user.link}</a></td>
            <td class="td-complete">${user.complete ? "완료" : "진행중"}</td>
          `;
          tableBody.appendChild(row);
        });
      })
      .catch((error) => console.error("Error fetching user data:", error));
  </script>
</html>
