<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <%- include('components/header') %>
    <!-- header.ejs 포함 -->

    <%- include('components/footer') %>
    <!-- footer.ejs 포함 -->
  </body>
</html>
